<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/73c1a7d9-c6cd-429e-914b-d4ecc6870eac/resourcegroups/ITT-CA2/providers/Microsoft.Web/sites/LibraryBookSystem20180514090919</ResourceId>
    <ResourceGroup>ITT-CA2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://librarybooksystem20180514090919.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>librarymanagementsystem.database.windows.net</MSDeployServiceURL>
    <DeployIisAppPath>https://librarybooksystem20180514090919.azure.websites.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>tallaght</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LMSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=LibraryManagementSystem.database.windows.net;Initial Catalog=LMS;User ID=tallaght;Password=pscsCA22018;Application Name=EntityFramework" Name="Data Source=LibraryManagementSystem.database.windows.net;Initial Catalog=LMS;User ID=tallaght;Password=pscsCA22018;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LibraryBookSystem.Models.LMSEntities, LibraryBookSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LMSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LibraryModel.csdl|res://*/Models.LibraryModel.ssdl|res://*/Models.LibraryModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=LibraryManagementSystem.database.windows.net;Initial Catalog=LMS;User ID=tallaght;Password=pscsCA22018;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>